.current-weather {
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}
.temp-and-desc {
  display: flex;
}
.temp-and-desc p {
  margin-left: 22px;
  margin-top: 0;
}
