.header-fields {
  display: flex;
  color: black;
}
.input-city {
  min-width: 201px;
}
.header-fields button {
  background-color: bisque;
  padding: 5px;
  font-size: 0.8em;
  margin: 5px;
}

.header-fields input {
  border-radius: 10px;
  border-style: none;
}
